
<div class="container-fluid">
    <div class="row p-5 justify-content-center">
        <div class="col-sm-0 col-md-2">
            <img src="assets/logo_footer.PNG" width="100%" height="150">
        </div>

        <div class="col-6 col-sm-3 col-md-3 col-lg-2">
            <h5 class="pt-4 pb-2">THE BASICS</h5>
            <p>About TMDB</p>
            <p>Contact Us</p>
            <p>Support Forums</p>
            <p>API</p>
            <p>System Status</p>
        </div>

        <div class="col-6 col-sm-3 col-md-3 col-lg-2">
            <h5 class="pt-4 pb-2">GET INVOLVED</h5>
            <p>Contribution Bible</p>
            <p>3rd Party Applications</p>
            <p>Add New Movie</p>
            <p>Add New TV Show</p>
        </div>

        <div class="col-6 col-sm-3 col-md-3 col-lg-2">
            <h5 class="pt-4 pb-2">COMMUNITY</h5>
            <p>Guidelines</p>
            <p>Discussions</p>
            <p>Leaderboard</p>
            <p>Twitter</p>
        </div>

        <div class=" col-6 col-sm-3 col-md-3 col-lg-2">
            <h5 class="pt-4 pb-2">LEGAL</h5>
            <p>Terms of Use</p>
            <p>API Terms of Use</p>
            <p>Privacy Policy</p>
        </div>
    </div>
</div>